body {
    margin: 0;
    padding: 0;
    background-color: #f8f8ff; /* Warna putih salju */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#welcome-screen {
    text-align: center;
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff5722;
    color: white;
}

#game-container {
    width: 800px;
    height: 600px;
    border: 4px solid #333; /* Border jadi lebih soft */
    background-color: white; /* Area game tetap putih */
    position: relative;
}
